@charset "UTF-8";
/* -----------------------------------------------------------
reset
----------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700|Noto+Serif+JP:300,400,500,700&subset=japanese");
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

q:before, q:after {
	content: '';
}

object,
embed {
	vertical-align: top;
}

hr, legend {
	display: none;
	border: none;
}

abbr, acronym, fieldset {
	border: 0;
}

tr, th, td, caption {
	vertical-align: top;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
}

img {
	border: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

code {
	font-family: 'Ricty', 'Ricty Diminished', 'inconsolata', 'consolas', 'Courier New', monospace;
	margin: 0 0.3em;
}

a {
	color: #003399;
}

a[target='_blank']:after {
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	background: url("/assets/img/_ico_blank.svg") no-repeat;
	background-size: 0.8em 0.8em;
	margin: 0 0 0 0.4em;
}

.home main {
	padding: 0 10px;
}

.home main pre.readme-md {
	display: none;
}

.home main section {
	max-width: 1000px;
	margin: 0 auto;
}

.home main section + section {
	margin-top: 40px;
}

.home main section.readme-dump {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 2;
	padding: 2em 0;
}

.home main section.readme-dump h1 {
	font-size: 2.5em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
}

.home main section.readme-dump p {
	margin-top: 1em;
}

.home main section.readme-dump h2 {
	font-size: 2em;
	margin-top: 2em;
}

.home main section.readme-dump ul {
	margin-top: 1em;
}

.home main section.readme-dump ul li {
	padding-left: 1.1em;
	position: relative;
}

.home main section.readme-dump ul li:before {
	content: "・";
	position: absolute;
	left: 0;
	top: 0;
}

.home main section.readme-dump table {
	margin-top: 1em;
}

.home main section.readme-dump table tr th, .home main section.readme-dump table tr td {
	border-width: 0 1px 1px 0;
	border-style: solid dotted;
	border-color: #cccccc;
	padding: 0.2em 0.5em;
}

.home main section.readme-dump table tr th:last-child, .home main section.readme-dump table tr td:last-child {
	border-right-width: 0;
}

.home main section.readme-dump table thead tr th,
.home main section.readme-dump table thead tr td {
	border-top-width: 1px;
	border-color: #000000;
	background: #e6e6e6;
}

.home main section.readme-dump table thead tr th {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500;
}

.home main section.readme-dump pre {
	margin-top: 1em;
	border: 1px solid #cccccc;
	border-radius: 7px;
	padding: 10px;
	background: #e6e6e6;
}

.home main section.readme-dump pre code {
	font-family: 'Ricty', 'Ricty Diminished', 'inconsolata', 'consolas', 'Courier New', monospace;
}
/*# sourceMappingURL=style.css.map */
