extends ./__pug/_layout.pug

//- 変数定義
block append vars
	- var OWN_TITLE = 'PUGでPHPを書く方法';
	- var OWN_URL = CONTENTS_URL
	- PAGE_CLASS.push('home');
	- PAGE_CLASS.push('home-index');

//- head
block ogp
	+ogp(PAGE_TITLE, OWN_URL, OG_IMAGE, PAGE_DESCRIPTION)

block twitter_card
	+twitterCard(PAGE_TITLE, OWN_URL, OG_IMAGE, PAGE_DESCRIPTION)

block append css
	link(rel = 'stylesheet', type = 'text/css', href = 'css/standard.css?v=' + VERSION)

block append javascript
	script(src = 'js/index.js?v=' + VERSION)



block main
	main
		h2
			| PUG内でPHPを書くときはこのように

		| <?php
		| echo 'hello world';
		| ?>
