/* -----------------------------------------------------------
reset
----------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700|Noto+Serif+JP:300,400,500,700&subset=japanese");
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

q:before, q:after {
	content: '';
}

object,
embed {
	vertical-align: top;
}

hr, legend {
	display: none;
	border: none;
}

abbr, acronym, fieldset {
	border: 0;
}

tr, th, td, caption {
	vertical-align: top;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
}

img {
	border: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

body {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.048em;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	-webkit-font-size-adjust: 100%;
}

body.freeze {
	width: 100%;
	position: fixed;
}

input,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.site-header {
	border-bottom: 1px solid #cccccc;
	padding: 20px 0;
	margin: 0 0 20px 0;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.site-header > .wrap {
	max-width: 1000px;
}

.site-header > .wrap h1 {
	font-size: 28px;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	letter-spacing: 0.08em;
}

.site-footer {
	border-top: 1px solid #cccccc;
	padding: 20px 0;
	margin: 20px 0 0 0;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.site-footer > .wrap {
	max-width: 1000px;
}

.site-footer > .wrap p {
	letter-spacing: 0.08em;
}
/*# sourceMappingURL=style.css.map */
