@import "../__sass/reset";
@import "../__sass/vars";
@import "../__sass/mixins";
@import "../__sass/fonts";



code{
	@include monospace;
	margin: 0 0.3em;
}

a{
	color: #003399;

	&[target='_blank']{
		&:after{
			$w: 0.8em;
			content: '';
			display: inline-block;
			width: $w;
			height: $w;
			background: url($dir_img + '_ico_blank.svg') no-repeat;
			background-size: $w $w;
			margin: 0 0 0 0.4em;
		}
	}
}


.home{
	main{
		padding: 0 10px;

		pre.readme-md{
			display: none;
		}

		section{
			max-width: 1000px;
			margin: 0 auto;

			&+section{
				margin-top: 40px;
			}

			&.readme-dump{
				@include sans_regular;
				font-size: 1em;
				line-height: 2;
				padding: 2em 0;

				h1{
					font-size: 2.5em;
					@include sans_regular;
				}

				p{
					margin-top: 1em;
				}

				h2{
					font-size: 2em;
					margin-top: 2em;
				}

				ul{
					margin-top: 1em;
					@include listDot;
				}

				table{
					margin-top: 1em;
					tr{
						th,td{
							border-width: 0 1px 1px 0;
							border-style: solid dotted;
							border-color: #cccccc;
							padding: 0.2em 0.5em;

							&:last-child{
								border-right-width: 0;
							}
						}
					}
					thead{
						tr{
							th,
							td{
								border-top-width: 1px;
								border-color: #000000;
								background: #e6e6e6;
							}
							th{
								@include sans_medium;
							}
						}
					}
				}

				pre{
					margin-top: 1em;
					border: 1px solid #cccccc;
					border-radius: 7px;
					padding: 10px;
					background: #e6e6e6;

					code{
						@include monospace;
					}
				}
			}
                        //
			// .section-title{
			// 	margin: 0 0 20px 0;
			// 	padding: 0 0 0 10px;
			// 	border-left: 4px solid #000000;
                        //
			// 	h1{
			// 		font-size: 24px;
			// 		@include sans_medium;
			// 	}
			// }
                        //
			// .section-body{
			// 	padding: 0 0 0 10px;
                        //
			// 	p{
			// 		&+p,
			// 		&+ul{
			// 			margin-top: 0.5em;
			// 		}
			// 	}
			// 	ul{
			// 		&+p,
			// 		&+ul{
			// 			margin-top: 0.5em;
			// 		}
                        //
			// 		li{
			// 			&+li{
			// 				margin-top: 0.3em;
			// 			}
			// 		}
                        //
			// 		&.dot-list{
			// 			@include listDot;
			// 		}
                        //
			// 		&.note-list{
			// 			@include listNote;
			// 		}
			// 	}
			// }
                        //
			// &.tasks{
                        //
			// 	article{
			// 		margin: 0 10px;
			// 		border: 2px solid #000000;
			// 		border-radius: 4px;
			// 		background: #f6f6f6;
			// 		padding: 10px;
                        //
			// 		&+article{
			// 			margin-top: 20px;
			// 		}
                        //
			// 		.article-title{
			// 			padding: 0 0 10px 0;
			// 			margin: 0 0 10px 0;
			// 			border-bottom: 1px solid #cccccc;
                        //
			// 			h2{
			// 				font-size: 20px;
			// 				@include monospace;
			// 			}
                        //
			// 			p,
			// 			p+p{
			// 				margin: 0;
			// 				font-size: 13px;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}
