@import "../../__sass/reset";
@import "../../__sass/vars";
@import "../../__sass/mixins";
@import "../../__sass/fonts";



html{
}

body{
	font-size: 16px;
	line-height: (30/16);
	@include letterSpacing(60);
	@include sans_light;
	-webkit-font-size-adjust: 100%;

	&.freeze{
		width: 100%;
		position: fixed;
	}
}

input,
select,
textarea{
	appearance: none;
}

@import "../../__sass/site_header";
@import "../../__sass/site_footer";
