// Global site tag (gtag.js) - Google Analytics
script(src = 'https://www.googletagmanager.com/gtag/js?id=UA-00000000-0', async)
script
	| window.dataLayer = window.dataLayer || [];
	| function gtag(){dataLayer.push(arguments);}
	| gtag('js', new Date());
	|
	| gtag('config', 'UA-00000000-0');
