include ./_mixins

block vars
	include ./_vars


//------------------------------
//- テンプレート
//------------------------------
doctype html
html(lang = 'ja', class = PAGE_CLASS.join(' '))
	head(prefix = 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
		meta(charset = 'utf-8')

		block title
			- if(OWN_TITLE == ''){
				title= SITE_TITLE
			- }
			- else{
				title= OWN_TITLE + ' | ' + SITE_TITLE
			- }

		block description
			meta(name = 'description', content = PAGE_DESCRIPTION)
		block keywords
			meta(name = 'keywords', content = PAGE_KEYWORDS)

		block ogp
			+ogp(PAGE_TITLE, CONTENTS_URL, OG_IMAGE, PAGE_DESCRIPTION)

		block twitter_card
			+twitterCard(PAGE_TITLE, CONTENTS_URL, OG_IMAGE, PAGE_DESCRIPTION)

		block meta
			meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
			meta(name = 'format-detection', content = 'telephone=no')

		block viewport
			meta(name = 'viewport', content = 'width=device-width')

		block favicon
			link(rel = 'shortcut icon', href = IMG_PATH + 'share/favicon.ico', type = 'image/vnd.microsoft.icon')
			link(rel = 'icon', href = IMG_PATH + 'share/favicon.ico', type = 'image/vnd.microsoft.icon')
			link(rel = 'apple-touch-icon', href = IMG_PATH + 'share/favicon.png')

		block css
			//- link(rel = 'stylesheet', type = 'text/css', href = 'https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese')
			link(rel = 'stylesheet', type = 'text/css', href = CSS_PATH + 'style.css?v=' + VERSION)

		block javascript
			script(src = JS_PATH + 'vendor/jquery.min.js')
			script(src = JS_PATH + 'common.js?v=' + VERSION)

		block analytics
			include _ga.pug


	block body
		body
			.wrap

				//- グローバルヘッダ
				block site-header
					include _site_header

				//- メイン
				block main
					main
						| メイン

				//- グローバルフッタ
				block site-footer
					include _site_footer
