//- mixins


mixin ogp(page_title, contents_url, og_image, page_description)
	meta(property = 'og:title', content = page_title)
	meta(property = 'og:site_name', content = SITE_TITLE)
	meta(property = 'og:url', content = contents_url)
	meta(property = 'og:type', content = 'website')
	//- meta(property = 'og:image', content = og_image)
	meta(property = 'og:description', content = page_description)

mixin twitterCard(page_title, contents_url, og_image, page_description)
	meta(name = 'twitter:card', content = 'summary_large_image')
	//- meta(name = 'twitter:site', content = '')
	meta(name = 'twitter:title', content = page_title + ' | ' + SITE_TITLE)
	meta(name = 'twitter:description', content = page_description)
	meta(name = 'twitter:url', content = contents_url)
	//- meta(name = 'twitter:image', content = og_image)
