//- 変数
//- VERSION はCSS等のパスにくっつけるので大きな更新したら変えること
-
	var VERSION = '1.0.0';
	var SITE_TITLE = 'サンプルサイト';
	var PAGE_DESCRIPTION = 'サンプルサイトです';
	var PAGE_KEYWORDS = 'sample,サンプル,さんぷる';
	var SITE_URL = 'http://tyo-dw.jp';
	var CONTENTS_PATH = '/';
	var ASSETS_PATH = '/assets/';
	var IMG_PATH = ASSETS_PATH + 'img/';
	var CSS_PATH = ASSETS_PATH + 'css/';
	var JS_PATH = ASSETS_PATH + 'js/';
	var OG_IMAGE = SITE_URL + IMG_PATH + 'share/og.jpg';

	var PAGE_CLASS = [];
