
// .mfp-bg{
// 	background-color: #e58aa1;
// 	opacity: 0.75;
// }

.mfp-wrap{
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}


/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	$dur: 0.5s;
	-webkit-transition: all $dur ease-out;
	-moz-transition: all $dur ease-out;
	transition: all $dur ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.75;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}


@media (max-width: 900px){
	.mfp-container {
		padding-left: 0;
		padding-right: 0;
	}
}
