// mixin
// Autoprefixerに甘える版



@mixin use_gpu {
	// -webkit-backface-visibility: hidden;
	// -moz-backface-visibility: hidden;
	// -ms-backface-visibility: hidden;
	backface-visibility: hidden;
}


@mixin hidding {
	position: absolute;
	left: -5000px;
	top: -5000px;
}

@mixin letterSpacing($val){
	letter-spacing: ($val / 1000 * 0.8)+em;
}

@mixin flexbox{
	// display:-webkit-box;
	// display:-moz-box;
	// display:-ms-box;
	// display:-webkit-flexbox;
	// display:-moz-flexbox;
	// display:-ms-flexbox;
	// display:-webkit-flex;
	// display:-moz-flex;
	// display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}

@mixin flexboxCancel($style: block) {
	display: $style;
	// -webkit-box-lines:single;
	// -moz-box-lines:single;
	// -webkit-flex-wrap:nowrap;
	// -moz-flex-wrap:nowrap;
	// -ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
}

@mixin flexFlexStart{
	// -webkit-box-pack: start;
	// -ms-flex-pack: start;
	// -webkit-justify-content: flex-start;
	justify-content: flex-start;
}

@mixin flexFlexEnd{
	// -webkit-box-pack: end;
	// -ms-flex-pack: end;
	// -webkit-justify-content: flex-end;
	justify-content: flex-end;
}

@mixin flexCenter{
	// -webkit-box-pack: center;
	// -ms-flex-pack: center;
	// -webkit-justify-content: center;
	justify-content: center;
}

@mixin flexSpaceBetween{
	// -webkit-box-pack: justify;
	// -ms-flex-pack: justify;
	// -webkit-justify-content: space-between;
	justify-content: space-between;
}

@mixin flexSpaceAround{
	// -ms-flex-pack: distribute;
	// -webkit-justify-content: space-around;
	justify-content: space-around;
}

@mixin flexAlignCenter{
	// -webkit-box-orient: horizontal;
	// -webkit-align-items: center;
	align-items: center;
}

@mixin flexAlignEnd{
	// -webkit-align-items: flex-end;
	align-items: flex-end;
}

@mixin flexAlignBaseline{
	// -webkit-align-items: baseline;
	align-items: baseline;
}

@mixin flexReverse {
	flex-direction: row-reverse;
}


@mixin fakeTable {
	display: table;

	.tr{
		display: table-row;

		.th{
			display: table-cell;
		}

		.td{
			display: table-cell;
		}
	}
}

@mixin listDot($marker: $char_dot, $pad: 1.1em) {
	li{
		padding-left: $pad;
		position: relative;

		&:before{
			content: $marker;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

@mixin listNote($marker: $char_kome, $pad: 1.1em) {
	@include listDot($marker,$pad);
}

@mixin listAlphaUpper($prefix: '', $suffix: '', $pad: 1.1em) {
	li{
		padding-left: $pad;
		position: relative;

		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}

		@each $letter in $list_alpha_upper {
			$key: index($list_alpha_upper, $letter);

			&:nth-child(#{$key}) {
				&:before{
					content: ($prefix + $letter + $suffix);
				}

			}
		}
	}
}

@mixin listAlphaLower($prefix: '', $suffix: '', $pad: 1.1em) {
	li{
		padding-left: $pad;
		position: relative;

		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}

		@each $letter in $list_alpha_lower {
			$key: index($list_alpha_lower, $letter);

			&:nth-child(#{$key}) {
				&:before{
					content: ($prefix + $letter + $suffix);
				}

			}
		}
	}
}

@mixin listHiragana($prefix: '', $suffix: '', $pad: 1.1em) {
	li{
		padding-left: $pad;
		position: relative;

		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}

		@each $letter in $list_hiragana {
			$key: index($list_hiragana, $letter);

			&:nth-child(#{$key}) {
				&:before{
					content: ($prefix + $letter + $suffix);
				}

			}
		}
	}
}

@mixin listKatakana($prefix: '', $suffix: '', $pad: 1.1em) {
	li{
		padding-left: $pad;
		position: relative;

		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}

		@each $letter in $list_katakana {
			$key: index($list_katakana, $letter);

			&:nth-child(#{$key}) {
				&:before{
					content: ($prefix + $letter + $suffix);
				}

			}
		}
	}
}

@mixin listNumber($prefix: '', $suffix: '.', $pad: 1.1em) {
	li{
		padding-left: $pad;
		position: relative;

		&:before{
			position: absolute;
			left: 0;
			top: 0;
		}

		@for $i from 1 through 100{
			&:nth-child(#{$i}){
				&:before{
					content: ($prefix + $i + $suffix);
				}
			}
		}
	}
}

@mixin noteMark($pad: 1.1em) {
	padding-left: $pad;
	position: relative;

	&:before{
		content: $char_kome;
		position: absolute;
		left: 0;
		top: 0;
	}
}

@mixin dotMark($pad: 1.1em) {
	@include noteMark($pad);

	&:before{
		content: $char_dot;
	}
}

@mixin placeholder {
	&:placeholder-shown {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		opacity: 1;
		@content;
	}
	&::-moz-placeholder {
		opacity: 1;
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}


@function vw($px: 1, $ww: 750){
	@return ($px / ($ww / 100))+vw;
}

@function vh($px: 1, $wh: 1196){
	@return ($px / ($wh / 100))+vh;
}




// -------------------------


@mixin altImage($w, $h, $src){
	display: block;
	padding: $h 0 0 0;
	width: $w;
	height: 0;
	overflow: hidden;
	background: url($src) no-repeat;
	background-size: $w $h;
	text-indent: -5000px;
}


@mixin imageButton($w, $h, $src){
	@include altImage($w, $h, $src);
	// -webkit-transition: opacity $dur_hover;
	transition: opacity $dur_hover;

	&:hover{
		opacity: $opa_hover;
	}
}
