@charset "utf-8";
/* ===================================================================
print
=================================================================== */
@media print {
	body{
		width:980px;
		*zoom:0.8;

		background: #FFF;
	}


}
