


.site-footer{
	border-top: 1px solid #cccccc;
	padding: 20px 0;
	margin: 20px 0 0 0;

	@include flexbox;
	@include flexCenter;
	@include flexAlignCenter;


	>.wrap{
		max-width: 1000px;

		p{
			@include letterSpacing(100);
		}
	}
}
