


.site-header{
	border-bottom: 1px solid #cccccc;
	padding: 20px 0;
	margin: 0 0 20px 0;

	@include flexbox;
	@include flexCenter;
	@include flexAlignCenter;


	>.wrap{
		max-width: 1000px;

		h1{
			font-size: 28px;
			@include sans_bold;
			@include letterSpacing(100);
		}
	}
}
