.foo .var .etc {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
/*# sourceMappingURL=sample.css.map */
